<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stockearte</title>
    <link rel="stylesheet" href="../styles.css">
    <script type="module" src="https://cdn.skypack.dev/lit"></script>
    <script type="module" src="../components/lit-tiendas/lit-tiendas.js"></script>
    <script type="module" src="../components/lit-productos/lit-productos.js"></script>
    <script type="module" src="../components/lit-usuarios/lit-usuarios.js"></script>
    <script type="module" src="../components/lit-orden-compra/lit-orden-compra.js"></script>
    <script type="module" src="../components/lit-novedades/lit-novedades.js"></script>
    <script src="../scripts/main.js" type="module"></script> <!-- Archivo JavaScript externo -->
</head>

<body>
    <header>
        <div class="header-container">
            <div class="header-buttons">
                <button onclick="renderComponent('lit-tiendas')">Tiendas</button>
                <button onclick="renderComponent('lit-productos')">Productos</button>
                <button onclick="renderComponent('lit-usuarios')">Usuarios</button>
                <button onclick="renderComponent('lit-orden-compra')">Ordenes de Compra</button>
                <button onclick="renderComponent('lit-novedades')">Novedades</button>
            </div>
            <button class="header-button" onclick="logout()">Cerrar Sesión</button>
        </div>
    </header>

    <div class="content" id="content">
    </div>
</body>
</html>
